USE [master]
GO
/****** Object:  Database [TerritoryWeb]    Script Date: 10/23/2017 3:43:01 PM ******/
CREATE DATABASE [TerritoryWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TerritoryWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TerritoryWeb.mdf' , SIZE = 7360KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TerritoryWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TerritoryWeb_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TerritoryWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TerritoryWeb]
GO
/****** Object:  User [IIS APPPOOL\TerritoryWeb]    Script Date: 10/23/2017 3:43:01 PM ******/
CREATE USER [IIS APPPOOL\TerritoryWeb] FOR LOGIN [IIS APPPOOL\TerritoryWeb] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\TerritoryWeb]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\TerritoryWeb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL CONSTRAINT [DF_AspNetUserRoles_Discriminator]  DEFAULT (N'IdentityUserRole'),
	[Role_Id] [nvarchar](128) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[CongregationID] [int] NULL,
	[Language] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[CellPhone] [nvarchar](max) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[TypeID] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Congregation]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Congregation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Door]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Door](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TerritoryID] [int] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Street] [varchar](50) NOT NULL,
	[Apartment] [varchar](50) NULL,
	[LanguageID] [int] NULL,
	[CodeID] [int] NULL,
	[Comments] [varchar](150) NULL,
	[Name] [varchar](150) NULL,
	[Telephone] [varchar](50) NULL,
	[PostalCode] [varchar](10) NOT NULL,
	[GeoLat] [decimal](9, 6) NULL,
	[GeoLong] [decimal](9, 6) NULL,
	[AddedBy] [varchar](50) NULL,
	[Added] [datetime] NOT NULL CONSTRAINT [DF__Door__Added__21B6055D]  DEFAULT (getdate()),
	[ModifiedBy] [varchar](50) NULL,
	[Modified] [datetime] NOT NULL CONSTRAINT [DF__Door__Modified__22AA2996]  DEFAULT (getdate()),
 CONSTRAINT [PK__Door__3214EC07B04C7361] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DoorCode]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoorCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Language]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Locale] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PublisherType]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PublisherType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Territory]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Territory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TerritoryName] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[Notes] [varchar](max) NULL,
	[CongregationID] [int] NOT NULL,
	[AssignedPublisherID] [nvarchar](128) NULL,
	[AddedBy] [varchar](50) NULL,
	[Added] [datetime] NOT NULL CONSTRAINT [DF__Territory__Added__2D27B809]  DEFAULT (getdate()),
	[ModifiedBy] [varchar](50) NULL,
	[Modified] [datetime] NOT NULL CONSTRAINT [DF__Territory__Modif__2E1BDC42]  DEFAULT (getdate()),
	[CheckedOut] [datetime] NULL,
	[CheckedIn] [datetime] NULL,
	[LastCheckedInBy] [nvarchar](128) NULL,
 CONSTRAINT [PK__Territor__3214EC073A24B05B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TerritoryBound]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerritoryBound](
	[BoundaryID] [int] IDENTITY(1,1) NOT NULL,
	[TerritoryID] [int] NOT NULL,
	[GeoLat] [decimal](9, 6) NOT NULL,
	[GeoLong] [decimal](9, 6) NOT NULL,
 CONSTRAINT [PK_TerritoryBound] PRIMARY KEY CLUSTERED 
(
	[BoundaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TerritoryType]    Script Date: 10/23/2017 3:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TerritoryType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'1', N'Admin', NULL, NULL)
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'2', N'Manager', NULL, NULL)
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'3', N'Editor', NULL, NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Discriminator], [Role_Id], [ApplicationUser_Id]) VALUES (N'b7aa41f4-de04-4108-9f38-e6f4c44787cf', N'1', N'IdentityUserRole', NULL, NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Discriminator], [Role_Id], [ApplicationUser_Id]) VALUES (N'b7aa41f4-de04-4108-9f38-e6f4c44787cf', N'3', N'IdentityUserRole', NULL, NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Discriminator], [Role_Id], [ApplicationUser_Id]) VALUES (N'b7aa41f4-de04-4108-9f38-e6f4c44787cf', N'5', N'IdentityUserRole', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Congregation] ON 

GO
INSERT [dbo].[Congregation] ([Id], [Description]) VALUES (1, N'West Allentown Spanish')
GO
INSERT [dbo].[Congregation] ([Id], [Description]) VALUES (3, N'Test Congo')
GO
SET IDENTITY_INSERT [dbo].[Congregation] OFF
GO
SET IDENTITY_INSERT [dbo].[Door] ON 

GO
INSERT [dbo].[Door] ([Id], [TerritoryID], [Address], [Street], [Apartment], [LanguageID], [CodeID], [Comments], [Name], [Telephone], [PostalCode], [GeoLat], [GeoLong], [AddedBy], [Added], [ModifiedBy], [Modified]) VALUES (1, 23, N'1516', N'Catalina Ave.', NULL, 1, NULL, N'testing this thing', N'Checo Blanco Mari & Rafael', N'(610) 791-7905', N'18103', CAST(40.579119 AS Decimal(9, 6)), CAST(-75.481583 AS Decimal(9, 6)), N'Cyberyaga@hotmail.com', CAST(N'2017-08-20 21:07:58.493' AS DateTime), N'cyberyaga@hotmail.com', CAST(N'2017-10-03 19:53:42.070' AS DateTime))
GO
INSERT [dbo].[Door] ([Id], [TerritoryID], [Address], [Street], [Apartment], [LanguageID], [CodeID], [Comments], [Name], [Telephone], [PostalCode], [GeoLat], [GeoLong], [AddedBy], [Added], [ModifiedBy], [Modified]) VALUES (2, 23, N'1526', N'Catalina Ave.', NULL, 1, NULL, N'Vamos', NULL, NULL, N'18103', CAST(40.578639 AS Decimal(9, 6)), CAST(-75.481579 AS Decimal(9, 6)), N'Cyberyaga@hotmail.com', CAST(N'2017-08-20 21:07:58.493' AS DateTime), N'cyberyaga@hotmail.com', CAST(N'2017-10-04 01:18:41.630' AS DateTime))
GO
INSERT [dbo].[Door] ([Id], [TerritoryID], [Address], [Street], [Apartment], [LanguageID], [CodeID], [Comments], [Name], [Telephone], [PostalCode], [GeoLat], [GeoLong], [AddedBy], [Added], [ModifiedBy], [Modified]) VALUES (3, 23, N'1533', N'Catalina Ave.', NULL, 1, 1, N'Tocar Despues de las 11:00 am', N'Cruz William', N'(610) 797-0318', N'18103', CAST(40.578362 AS Decimal(9, 6)), CAST(-75.482173 AS Decimal(9, 6)), N'Cyberyaga@hotmail.com', CAST(N'2017-08-20 21:07:58.493' AS DateTime), N'cyberyaga@hotmail.com', CAST(N'2017-10-01 14:36:53.537' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Door] OFF
GO
SET IDENTITY_INSERT [dbo].[DoorCode] ON 

GO
INSERT [dbo].[DoorCode] ([Id], [Description]) VALUES (1, N'Expulsado ')
GO
SET IDENTITY_INSERT [dbo].[DoorCode] OFF
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

GO
INSERT [dbo].[Language] ([Id], [Description], [Locale]) VALUES (1, N'English', NULL)
GO
INSERT [dbo].[Language] ([Id], [Description], [Locale]) VALUES (2, N'Español', NULL)
GO
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
SET IDENTITY_INSERT [dbo].[PublisherType] ON 

GO
INSERT [dbo].[PublisherType] ([Id], [Description]) VALUES (1, N'Publisher')
GO
INSERT [dbo].[PublisherType] ([Id], [Description]) VALUES (2, N'Pioneer')
GO
INSERT [dbo].[PublisherType] ([Id], [Description]) VALUES (3, N'Elder')
GO
SET IDENTITY_INSERT [dbo].[PublisherType] OFF
GO
SET IDENTITY_INSERT [dbo].[Territory] ON 

GO
INSERT [dbo].[Territory] ([Id], [TerritoryName], [City], [Type], [Notes], [CongregationID], [AssignedPublisherID], [AddedBy], [Added], [ModifiedBy], [Modified], [CheckedOut], [CheckedIn], [LastCheckedInBy]) VALUES (23, N'Allentown - 01', N'Allentown, PA', 1, NULL, 1, N'b7aa41f4-de04-4108-9f38-e6f4c44787cf', N'cyberyaga@hotmail.com', CAST(N'2017-06-25 11:15:00.193' AS DateTime), N'cyberyaga@hotmail.com', CAST(N'2017-10-21 11:05:03.117' AS DateTime), CAST(N'2017-08-12 20:08:45.330' AS DateTime), NULL, N'b7aa41f4-de04-4108-9f38-e6f4c44787cf')
GO
INSERT [dbo].[Territory] ([Id], [TerritoryName], [City], [Type], [Notes], [CongregationID], [AssignedPublisherID], [AddedBy], [Added], [ModifiedBy], [Modified], [CheckedOut], [CheckedIn], [LastCheckedInBy]) VALUES (24, N'Allentown - 02', N'Allentown, PA', 1, NULL, 1, NULL, N'cyberyaga@hotmail.com', CAST(N'2017-06-25 11:15:02.927' AS DateTime), N'cyberyaga@hotmail.com', CAST(N'2017-06-25 11:15:02.927' AS DateTime), NULL, CAST(N'2017-10-01 17:03:16.027' AS DateTime), N'b7aa41f4-de04-4108-9f38-e6f4c44787cf')
GO
INSERT [dbo].[Territory] ([Id], [TerritoryName], [City], [Type], [Notes], [CongregationID], [AssignedPublisherID], [AddedBy], [Added], [ModifiedBy], [Modified], [CheckedOut], [CheckedIn], [LastCheckedInBy]) VALUES (25, N'Allentown - 03', N'Allentown, PA', 1, NULL, 1, NULL, N'cyberyaga@hotmail.com', CAST(N'2017-06-25 11:15:04.910' AS DateTime), N'cyberyaga@hotmail.com', CAST(N'2017-06-25 11:15:04.910' AS DateTime), NULL, CAST(N'2017-07-30 11:37:22.037' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Territory] OFF
GO
SET IDENTITY_INSERT [dbo].[TerritoryBound] ON 

GO
INSERT [dbo].[TerritoryBound] ([BoundaryID], [TerritoryID], [GeoLat], [GeoLong]) VALUES (32, 24, CAST(40.582411 AS Decimal(9, 6)), CAST(-75.477469 AS Decimal(9, 6)))
GO
INSERT [dbo].[TerritoryBound] ([BoundaryID], [TerritoryID], [GeoLat], [GeoLong]) VALUES (33, 24, CAST(40.583063 AS Decimal(9, 6)), CAST(-75.476997 AS Decimal(9, 6)))
GO
INSERT [dbo].[TerritoryBound] ([BoundaryID], [TerritoryID], [GeoLat], [GeoLong]) VALUES (34, 24, CAST(40.583845 AS Decimal(9, 6)), CAST(-75.476589 AS Decimal(9, 6)))
GO
SET IDENTITY_INSERT [dbo].[TerritoryBound] OFF
GO
SET IDENTITY_INSERT [dbo].[TerritoryType] ON 

GO
INSERT [dbo].[TerritoryType] ([Id], [Description]) VALUES (1, N'Door to Door')
GO
INSERT [dbo].[TerritoryType] ([Id], [Description]) VALUES (2, N'Telephone')
GO
SET IDENTITY_INSERT [dbo].[TerritoryType] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/23/2017 3:43:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/23/2017 3:43:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/23/2017 3:43:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/23/2017 3:43:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/23/2017 3:43:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/23/2017 3:43:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Congregation] FOREIGN KEY([CongregationID])
REFERENCES [dbo].[Congregation] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Congregation]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_PublisherType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[PublisherType] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_PublisherType]
GO
ALTER TABLE [dbo].[Door]  WITH CHECK ADD  CONSTRAINT [FK_Door_ToDoorCode] FOREIGN KEY([CodeID])
REFERENCES [dbo].[DoorCode] ([Id])
GO
ALTER TABLE [dbo].[Door] CHECK CONSTRAINT [FK_Door_ToDoorCode]
GO
ALTER TABLE [dbo].[Door]  WITH CHECK ADD  CONSTRAINT [FK_Door_ToLanguage] FOREIGN KEY([LanguageID])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[Door] CHECK CONSTRAINT [FK_Door_ToLanguage]
GO
ALTER TABLE [dbo].[Door]  WITH CHECK ADD  CONSTRAINT [FK_Door_ToTerritory] FOREIGN KEY([TerritoryID])
REFERENCES [dbo].[Territory] ([Id])
GO
ALTER TABLE [dbo].[Door] CHECK CONSTRAINT [FK_Door_ToTerritory]
GO
ALTER TABLE [dbo].[Territory]  WITH CHECK ADD  CONSTRAINT [FK_Territory_AspNetUsers] FOREIGN KEY([AssignedPublisherID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Territory] CHECK CONSTRAINT [FK_Territory_AspNetUsers]
GO
ALTER TABLE [dbo].[Territory]  WITH CHECK ADD  CONSTRAINT [FK_Territory_AspNetUsers1] FOREIGN KEY([LastCheckedInBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Territory] CHECK CONSTRAINT [FK_Territory_AspNetUsers1]
GO
ALTER TABLE [dbo].[Territory]  WITH CHECK ADD  CONSTRAINT [FK_Territory_ToCongregation] FOREIGN KEY([CongregationID])
REFERENCES [dbo].[Congregation] ([Id])
GO
ALTER TABLE [dbo].[Territory] CHECK CONSTRAINT [FK_Territory_ToCongregation]
GO
ALTER TABLE [dbo].[Territory]  WITH NOCHECK ADD  CONSTRAINT [FK_Territory_ToType] FOREIGN KEY([Type])
REFERENCES [dbo].[TerritoryType] ([Id])
GO
ALTER TABLE [dbo].[Territory] CHECK CONSTRAINT [FK_Territory_ToType]
GO
ALTER TABLE [dbo].[TerritoryBound]  WITH CHECK ADD  CONSTRAINT [FK_TerritoryBound_Territory] FOREIGN KEY([TerritoryID])
REFERENCES [dbo].[Territory] ([Id])
GO
ALTER TABLE [dbo].[TerritoryBound] CHECK CONSTRAINT [FK_TerritoryBound_Territory]
GO
USE [master]
GO
