
@{
    ViewBag.Title = "Permission Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Permission Denied</h2>

<h2><span class="label label-danger">You are not authorized to access this page.</span></h2>

